<style>
    .independenttxt ul {
        width: 200px !important;
        margin-left: 100px;
    }
</style>
<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">第三方平台设置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    {include file="xcx/app_config/site" /}
                </div>
            </div>
        </div>

    </div>
</div>