<div class="layui-form-item">
    <label class="layui-form-label required">账户类型:</label>
    <div class="layui-input-block">
        {foreach :config('inComing.bank_account_type') as $key => $vo}
        <input type="radio" name="bank_account_type" class="bat{$key}" value="{$key}" title="{$vo}" {if $key=='BANK_ACCOUNT_TYPE_PERSONAL'
            } checked {/if}> {/foreach}
    </div>
</div>



<div class="layui-form-item">
    <label class="layui-form-label">开户名称</label>
    <div class="layui-input-block">
        <input type="text" name="account_name" class="layui-input" lay-verify="required" placeholder="请输入开户名称" value="">
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label required">开户银行:</label>
    <div class="layui-input-block">
        <select name="account_bank" id="">
            {foreach :config('inComing.account_banks') as $key => $vo}
            <option value="{$vo}" {if $vo=='工商银行' } selected {/if}> {$vo}</option> {/foreach}
        </select>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">省市: <span style="color: red;">*</span></label>
    <div class="layui-input-inline">
        <select lay-filter="b_provice">
            {foreach $region as $key => $vo}
            <option value="{$vo['region']}" {if $vo.region=='110000' } selected {/if}> {$vo['title']} </option>
            {/foreach}
        </select>
    </div>

    <div class="layui-input-inline">
        <select name="bank_address_code" id="b-citys">
            <option value="">
            </option>
        </select>
    </div>
</div>


<div class="layui-form-item">
    <label class="layui-form-label">银行卡号</label>
    <div class="layui-input-block">
        <input type="text" name="account_number" class="layui-input" lay-verify="required" placeholder="请输入银行卡号"
            value="">
    </div>
</div>

<div class="hr-line"></div>
<div class="layui-form-item text-center">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm oncstep" data-stab="3"
        data-refresh="false">上一步</button>
    <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit data-refresh="false">确认</button>
    <!-- <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button> -->
</div>