<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">标识id</label>
            <div class="layui-input-block">
                <input type="text" name="ident_id" class="layui-input"  placeholder="请输入标识id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">使用者</label>
            <div class="layui-input-block">
                <input type="text" name="user_id" class="layui-input"  placeholder="请输入使用者" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标识</label>
            <div class="layui-input-block">
                <input type="text" name="code" class="layui-input"  placeholder="请输入标识" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="status" >
                    <option value=''></option>
                    {foreach $getStatusList as $k=>$v}
                    <option value='{$k}' >{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>