<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">


        {if $row.id != 1000}
        <div class="layui-form-item">
            <label class="layui-form-label">费率(%)</label>
            <div class="layui-input-block">
                <input type="text" name="rate" class="layui-input" placeholder="请输入费率(%)" value="{$row.rate|default=''}">
            </div>
        </div>
        {/if}
        <div class="layui-form-item">
            <label class="layui-form-label">费用</label>
            <div class="layui-input-block">
                <input type="text" name="cost" class="layui-input" placeholder="请输入费用" value="{$row.cost|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分销金额</label>
            <div class="layui-input-block">
                <input type="text" name="retail_num" class="layui-input" placeholder="请输入分销金额" value="{$row.retail_num|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>