<form id="app-form" class="layui-form layuimini-form">
    <input type="hidden" name="now_group" value="pro_config">
    <div class="layui-form-item">
        <label class="layui-form-label required">商户进件开关</label>
        <div class="layui-input-block">
            <input type="radio" name="pro_status{:session('admin.id')}" value="0" title="关" {if sysconfig( 'pro_config', 'pro_status'.session('admin.id'))==0 } checked {/if}>
            <input type="radio" name="pro_status{:session('admin.id')}" value="1" title="开" {if sysconfig( 'pro_config', 'pro_status'.session('admin.id'))==1 } checked {/if}>
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">服务商商户号</label>
        <div class="layui-input-block">
            <input type="text" name="pro_mchid{:session('admin.id')}" class="layui-input" lay-verify="required" placeholder="请输入服务商商户号" value="{:sysconfig('pro_config','pro_mchid'.session('admin.id'))}">
            <tip>填写服务商商户号。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">服务商apiv3_key</label>
        <div class="layui-input-block">
            <input type="text" name="pro_mchid_secret{:session('admin.id')}" class="layui-input" lay-verify="required" placeholder="请输入服务商apiv3_key" value="{:sysconfig('pro_config','pro_mchid_secret'.session('admin.id'))}">
            <tip>填写服务商apiv3_key。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">证书序列号</label>
        <div class="layui-input-block">
            <input type="text" name="pro_mchid_serial_no{:session('admin.id')}" class="layui-input" lay-verify="required" placeholder="请输入证书序列号" value="{:sysconfig('pro_config','pro_mchid_serial_no'.session('admin.id'))}">
            <tip>填写证书序列号。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">key.pem证书</label>
        <div class="layui-input-block layuimini-upload">
            <input name="pro_key_pem{:session('admin.id')}" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传key.pem证书" value="{:sysconfig('pro_config','pro_key_pem'.session('admin.id'))}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="pro_key_pem{:session('admin.id')}" data-upload-number="one" data-upload-exts="pem"><i class="fa fa-upload"></i> 上传</a></span>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">cert.pem证书</label>
        <div class="layui-input-block layuimini-upload">
            <input name="pro_cert_pem{:session('admin.id')}" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传cert.pem证书" value="{:sysconfig('pro_config','pro_cert_pem'.session('admin.id'))}">
            <div class="layuimini-upload-btn">
                <span><a class="layui-btn" data-upload="pro_cert_pem{:session('admin.id')}" data-upload-number="one" data-upload-exts="pem"><i class="fa fa-upload"></i> 上传</a></span>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服务商公众号APPID</label>
        <div class="layui-input-block">
            <input type="text" name="pro_app_id{:session('admin.id')}" class="layui-input" lay-verify="required" placeholder="请输入服务商公众号APPID" value="{:sysconfig('pro_config','pro_app_id'.session('admin.id'))}">
            <tip>填写服务商公众号APPID。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服务商公众号SECRET</label>
        <div class="layui-input-block">
            <input type="text" name="pro_app_secret{:session('admin.id')}" class="layui-input" lay-verify="required" placeholder="请输入服务商公众号SECRET" value="{:sysconfig('pro_config','pro_app_secret'.session('admin.id'))}">
            <tip>填写服务商公众号SECRET。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">活动id</label>
        <div class="layui-input-block">
            <input type="text" name="pro_activities_id{:session('admin.id')}" class="layui-input" lay-verify="required" placeholder="请输入活动id" value="{:sysconfig('pro_config','pro_activities_id'.session('admin.id'))}">
            <tip>填写活动id。</tip>
        </div>
    </div>




    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="app_config/save" data-refresh="false">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>


</form>