<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">


        <div class="layui-form-item">
            <label class="layui-form-label required">小程序类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" lay-filter='type' value="1" title="个人" {eq name='info.type' value='1' }
                    checked {/eq}>
                <input type="radio" name="type" lay-filter='type' value="2" title="企业" {eq name='info.type' value='2' }
                    checked {/eq}>
                <input type="radio" name="type" lay-filter='type' value="3" title="管理员" {eq name='info.type' value='3' }
                    checked {/eq}>
            </div>
        </div>
        <div class="layui-form-item">
            <label id="name" class="layui-form-label required">{eq name='info.type' value='1' }个人{else}企业{/eq}名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" value="{$info.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label id="wx_type" class="layui-form-label required">法人微信号</label>
            <div class="layui-input-block">
                <input type="text" name="wx_code" class="layui-input" value="{$info.wx_code}">
            </div>
        </div>
        <div id="company" {eq name='info.type' value='1' }class="layui-hide" {/eq}>

            <div class="layui-form-item openiddiv">
                <label id="openid" class="layui-form-label required">用户openid</label>
                <div class="layui-input-block">
                    <input type="text" name="openid" value="{$info.openid}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item openiddiv">
                <label id="xcxname" class="layui-form-label required">小程序名称</label>
                <div class="layui-input-block">
                    <input type="text" name="xcxname" value="{$info.xcxname}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item openiddiv">
                <label id="legal_persona_idcard" class="layui-form-label required">法人身份证号</label>
                <div class="layui-input-block">
                    <input type="text" name="legal_persona_idcard" value="{$info.legal_persona_idcard}"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">识别营业执照</label>
                <div class="layui-input-block">
                    <a href="javaScript:void(0);" class="layui-btn layui-bg-blue" id="business_pic">
                        <i class="layui-icon layui-icon-upload"></i> 上传图片
                    </a>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">企业代码类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="code_type" value="18" title="统一社会信用代码(18位)" {eq name='info.code_type'
                        value='18' } checked {/eq}>
                    <input type="radio" name="code_type" value="9" title="组织机构代码(9位)" {eq name='info.code_type'
                        value='9' } checked {/eq}>
                    <input type="radio" name="code_type" value="15" title="营业执照注册号(15位)" {eq name='info.code_type'
                        value='15' } checked {/eq}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">企业代码</label>
                <div class="layui-input-block">
                    <input type="text" name="code" class="layui-input" value="{$info.code}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">法人姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="person_name" class="layui-input" value="{$info.person_name}">
                </div>
            </div>
        </div>
        {if $order->success_url}
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label required">注册二维码</label>
                <div class="layui-input-block">
                    <img src="{:qrcode_create($order.success_url,false)}" alt="" srcset="">
                </div>
            </div>
        </div>
        {/if} {if $order->error_msg}
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label required">注册信息</label>
                <div class="layui-input-block">
                    <input type="text" name="error_msg" disabled class="layui-input" value="{$order.error_msg}">
                </div>
            </div>
        </div>
        {/if}
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label required">文字备注</label>
                <div class="layui-input-block">
                    <input type="text" name="remarks" disabled class="layui-input" value="{$order.remarks}">
                </div>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>


<script>
    var user_id = null;
    var form = layui.form
    form.on('radio(type)', function (data) {
        if (data.value == '1') {
            $('#wx_type').html('个人微信号')
            $('#name').html('个人名称')
            $('input[name=code_type]').attr('checked', false);
            $('input[name=name]').val('')
            $('input[name=code]').val('')
            $('input[name=person_name]').val('')
            $('.openiddiv').addClass('layui-hide')
            $('#company').addClass('layui-hide')
            form.render()
        } else if (data.value == '2') {
            $('#wx_type').html('法人微信号')
            $('input[name=code_type]').attr('checked', false);
            $('input[name=code_type][value=18]').attr('checked', true);
            $('#name').html('企业名称')
            $('.openiddiv').addClass('layui-hide')
            $('#company').removeClass('layui-hide')
            form.render()
        } else {
            $('#wx_type').html('法人微信号')
            $('input[name=code_type]').attr('checked', false);
            $('input[name=code_type][value=18]').attr('checked', true);
            $('#name').html('企业名称')
            $('.openiddiv').removeClass('layui-hide')
            $('#company').removeClass('layui-hide')
            form.render()
        }
    })
    var upload = layui.upload;
    //执行实例
    var uploadInst = upload.render({
        elem: '#business_pic' //绑定元素
        ,
        url: 'get_business_info' //上传接口
        ,
        done: function (res) {
            if (res.code) {
                layer.msg(res.message, {
                    icon: 1
                })
                $('input[name=code_type][value=' + res.data.code_type + ']').attr('checked', true);
                $('input[name=name]').val(res.data.name)
                $('input[name=code]').val(res.data.code)
                $('input[name=person_name]').val(res.data.person_name)
                form.render()
            } else {
                layer.msg(res.message, {
                    icon: 2
                })
            }
        },
        error: function (err) { },

    });
</script>